# Azure AD App Credentials
TENANT_ID=your-tenant-id
CLIENT_ID=your-client-id
CLIENT_SECRET=your-client-secret

# Azure Analysis Services Info
AAS_REGION=westeurope
AAS_SERVER=your-server-name
AAS_MODEL=your-model-name

# Backup Blob Info
BACKUP_CONTAINER=your-container
BACKUP_BLOB=your-model-backup.abf